<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Chat Simple</title>
  <link rel="stylesheet" href="../css/style.css">
  <!-- <link rel="stylesheet" href="../css/loader.css"> -->
</head>

<body>

  <!-- <div class="container-loader">
    <h5 class="container-title-loader">Por favor espera, estamos buscando...</h5>
    <div class='bodycontainer'>
      <div class='body'>
        <span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class='base'>
          <span></span>
          <div class='face'></div>
        </div>
      </div>
      <div class='longfazers'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->


  <div class="chat-container">
    <header class="chat-header">Chat con Jarvis</header>
    <div class="chat-messages" id="chat">
      <div class="message received">Hola, ¿en qué puedo ayudarte?</div>
      <div class="message sent">¿Cuál es tu nombre?</div>
    </div>
    <form class="chat-input-area">
      <input type="text" placeholder="Escribe un mensaje..." />
      <button type="submit">Enviar</button>
    </form>
  </div>

  <script src="../js/chat.js"></script>
</body>

</html>