<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
  <title>Chat IA</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/loader.css">
</head>

<body>

  <div class="chat-container">
    <header class="chat-header">Chat con Jarvis</header>
    <div class="chat-messages" id="chat">
      <div class="message received">Hola, ¿en qué puedo ayudarte?</div>
      <!-- <div class="message sent"></div> -->
    </div>
    <form class="chat-input-area">
      <input type="text" placeholder="Escribe un mensaje..." spellcheck="true" />
      <button type="submit">Enviar</button>
    </form>
  </div>

  <script src="../js/chat.js"></script>
</body>

</html>