* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Arial", "sans-serif";
}

body {
  background: #162238;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 100%;
  max-width: 900px;
  height: 600px;
  background: white;
  box-shadow: 0 0 10px rgba(208, 205, 205, 0.558);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  margin: 28px 18px 90px 18px; /* pequeño margen para móviles */
}

.chat-header {
  background: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  line-height: 1.4;
}

.sent {
  background: #dcf8c6;
  align-self: flex-end;
}

.received {
  background: #f1f0f0;
  align-self: flex-start;
}

.chat-input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input-area input {
  flex: 1;
  border: none;
  padding: 15px;
  font-size: 14px;
  outline: none;
}

.chat-input-area button {
  background: #007bff;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

.chat-input-area button:hover {
  background: #0056b3;
}
